.blog_section {
  padding-top: 100px;
  padding-bottom: 70px;
}
img {
  max-width: 100%;
}
.blog {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}
.blog-text {
  padding: 10px 30px 30px;
}
.post-meta {
  margin-top: 15px;
  font-size: 14px;
}
.post-meta span {
  margin-right: 10px;
}
.post-meta span i {
  color: #f05942;
  padding-right: 8px;
}
.blog-text h4 {
  line-height: 26px;
}
.blog-image {
  position: relative;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .blog_section {
	margin-top: 400px;
  }

  .media{
	display: inline-block !important;
  }
}
