


.single {
	margin: 0 15px 20px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
	border-radius: 4px;
}





.single .package-hover {
	padding: 30px;
}
.package-hover p{
	margin-bottom: 20px;
}
.package-hover i{
	color: #fec42d;
}
.time_zone{
}
.team .position-center-center {
	width: 100%;
	padding: 0 20px;
}
.single img{
	width: 100%;
	position: relative;
}
.pack_price{
	font-weight: 700;
	color: #f05942;
}
.single h5 {
	font-size: 18px;
	margin-bottom: 5px;
	text-transform: capitalize;
	font-weight: 700;
	
}
.single .rating{
	margin-bottom: 3px;
	margin-top: 30px;
}
.single a{
	padding: 10px 25px;
	background: linear-gradient(to right, #f05942, #ed4f42, #ed4745, #eb4149,#ea3248);
	display: inline-block;
	border-radius: 4px;
	color: #fff;
}
.single .time_zone {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	text-transform: capitalize;
	width: 100%;
	color: #333;
	margin-bottom: 12px;
}
.single .time_zone i{
	color: #f05942;
	padding-right: 10px;
}

.custom{
	padding-left: 250px;
	padding-right: 250px;
	
}

.pull-left{
	padding-right: 10px;
    float: left;
}
 .pull-right{
	padding-left: 10px;
    float: right;
}

@media screen and (max-width: 768px) {
	.custom{
		padding-left: 0px;
		padding-right: 0px;
		
	}
}